*,
.after,
.before {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {}

header {
    display: flex;
    background-color: aqua;
    font-size: 2.5vw;
    margin: 10px;
    justify-content: start;
    align-items: center;
}

nav {
    display: flex;
    flex-grow: 1;
}

header img,
p {
    flex-grow: 1;
    margin-left: 10px;
    justify-content: start;
}

ul li {
    display: inline;
    margin-left: 20px;
}

li a {
    font-variant-caps: small-caps;
    text-decoration: none;
}

main {
    margin: 10px;
}

#hideButton {
    margin: 10px;
    background-color: red;
}